{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% trans_default_domain 'ezpoll' %}

{% block ezpoll_field %}
    {% spaceless %}
        {% if not ez_is_field_empty( content, field ) %}
            <p {{ block( 'field_attributes' ) }}>
                {{ field.value.question }}
            </p>
            {% if field.value.answers|length() > 0 %}
                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezpoll')|trim}) %}
                <ul {{ block( 'field_attributes' ) }}>
                    {% for answer in field.value.answers if answer is not empty %}
                        <li>
                            {{ answer }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
